
/*CSS Geral e Cabecalho*/
body{
	background-color: #e4e9eb;
	margin: 0;
	font-family: 'Cabin Sketch', cursive;
}


#monkey{
	color: black;
}

#dep{
	color:black;
	font-family: 'Cabin Sketch', cursive;
	font-size: -webkit-xxx-large;	
}

.benefits{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 800px;
	color: black;
	background-color: #e4e9eb;

	border: none;
	display:flex;
	align-content: space-around;
	flex-direction: column;
	justify-content: ;
}
.div1{
	margin-top: -30px;
	width: 100%;
	height: 120px;
	font-size: 38px;
	text-align: center;
}
.divmae{
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	height: 400px;
	justify-content: space-around;
}
.divfilha{
	width: 275px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	text-align: center;
}
.divfilha img{
	width: 260px;
	border-radius: 50%;
	height: 260px;
	padding: 15px;
}
.div5{
	margin-top: 24%;
	width: 100%;
	height: 40px;
	font-size: 32px;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}
.pg{
	margin: 0;
	width: 230px;
	height: 18%;
	font-size: 30px;
	text-align: center;
	padding-left: 10%;
	margin-top: 13%
}
.pp{
	margin: 0;
	width: 275px;
	height: 164px;
	font-size: 23px;
	text-align: center;
	margin-top: 22%;
}

#menu-bares{
	margin-left: auto;
	margin-right: auto;

}

.login {
	display: inline-block;
    padding: 0.6em 0.8em;
    margin: 0 0.4em;
    background-color: #312b2f;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 20px;

}

.sexo {
	display: inline-block;
    padding: 0.6em 0.8em;
    margin: 0 0.4em;
    background-color: #007E9E;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 20px;

}

nav{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #007E9E;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;

}

.logo img{
	height: 100px;
	margin-left: 50px;
}


.container-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;


}

.foto{
	display: flex;
	justify-content: center;
	margin-top: 10px;


}

header{
	background-color: #312b2f;
	padding: 1em 0;
}

h1{
	color: white;
	margin: 0;
	background-color: #007E9E;
	padding: 20px 40px 20px;
	}

h2{
	display: flex;
	justify-content: center;
	color: white;
}



/*CSS section servicos*/
.servicos{
	padding: 2.5em 0;
}

.servicos .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.container{
	width: 80%;
	max-width: 1000px;
	margin: auto;

}


.card {
	box-sizing: border-box;
	display: inline-block;
	/*border-style: 1px solid red;*/
	color: white;
	text-align: center;
	background-color: #312b2f;
	border-radius: 20px;
	width: calc((100% -3em) / 3);
	padding: 1em 0em;
}

/*Hover funcionalidade de passar o mouse no item*/
.card:hover {
	background-color: black;
	transform: scale(1.5);
}


.card img {
	max-width: 250px;
	max-height: 250px;
	margin-top: 20px;
	border-radius: 50px;
}


.card .description{
	padding: 1 1em;
	height: 130px;

}

.cadastro {
	padding: 0.6em 0.8em;
	margin: 0 0.4em;
    background-color: #007E9E;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 20px;
}

h3 p {
	display: block;
}


.card .tagline{
	margin-top: 1em;
}

.card p{
	margin: 0.5em 0;
}

/*Fim Section servicos*/

/*CSS depoimentos inicio*/

.box {
display: flex;
}

.both {
  display: flex;
  border: solid;
  border-radius: 40px;
  height: 20%;
  border-color: grey;
  padding: 20px;
}

.pic {
  display: inline-block;
  border-radius: 60px;
  height: 60px;
  width: 60px;

}
 .depoiment {
   padding: 10px;
   border-color: white;
   display: inline-block;
   text-align: start;
   height: 60px;
   width: 70%;
 }


/*CSS depoimentos fim*/


/*CSS perfil*/
.perfil {
display: flex;
width: 80%;
max-width: 1000px;
margin: auto;
}

.persona {
  display: inline-block;
  background-color: #007e9e;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1em 0em;
  max-width: 250px;
  text-align: center;
  margin: 10px;
}

.pessoa{
  width: 80%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  box-sizing: border-box;
  display: inline-block;
  color: white;
  text-align: center;
}


/*fim css perfil*/

.videoDiv {
	




/*CSS Sign-up Inicio*/
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 50px;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/*CSS Sign-up Fim*/
