
/*CSS Geral e Cabecalho*/
body{
	background-color: #e4e9eb;
	margin: 0;
	font-family: 'Cabin Sketch', cursive;
}

#menu-bares{
	margin-left: auto;
	margin-right: auto;

}

.login {
	display: inline-block;
    padding: 0.6em 0.8em;
    margin: 0 0.4em;
    background-color: #312b2f;;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 20px;
}

nav{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #007E9E;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;

}

.logo img{
	height: 100px;
	margin-left: 50px;
}


.container-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;

	
}

.foto{
	display: flex;
	justify-content: center;
	margin-top: 10px;


}

header{
	background-color: #312b2f;
	padding: 1em 0;
}

h1{
	color: white;
	margin: 0;
	background-color: #007E9E;
	padding: 20px 40px 20px;
	}

h2{
	display: flex;
	justify-content: center;
	color: white;
}



/*CSS section servicos*/
.servicos{
	padding: 2.5em 0;
}

.servicos .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.container{
	width: 80%;
	max-width: 1000px;
	margin: auto;

}


.card {
	box-sizing: border-box;
	display: inline-block;
	border-style: 1px solid red;
	color: white;
	text-align: center;
	background-color: #312b2f;
	border-radius: 20px;
	width: calc((100% -3em) / 3);
	padding: 1em 0em;
}

/*Hover funcionalidade de passar o mouse no item*/
.card:hover {
	background-color: black;
	transform: scale(1.5);
}


.card img {
	max-width: 250px;
	max-height: 250px;
	margin-top: 20px;
	border-radius: 50px;
}


.card .description{
	padding: 1 1em;
	height: 130px;

}

.cadastro {
	padding: 0.6em 0.8em;
	margin: 0 0.4em;
    background-color: #007E9E;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    margin-right: 20px;
}

h3 p {
	display: block;
}


.card .tagline{
	margin-top: 1em;
}

.card p{
	margin: 0.5em 0;
}

/*Fim Section servicos*/


	

/*ver depois*/

/*Hover funcionalidade de passar o mouse no item*/
/*.servicos:hover {
	background-color: black;
	transform: scale(1.5);
}*/







