.testments {

  width: 100%;
  animation-duration: 6s;
  animation-name: clientin;
  animation-iteration-count: infinite;
}

.box {

display: inline-block;
justify-content: center ;
align-items: center;

}

.client1, .client2, .client3 {

  width: 100px;
  height: 100px;
}

.client1{
  animation-delay: 2s;
}

.client2{
  animation-delay: 4s;
}

.client3{
  animation-delay: 6s;
}

}
@keyframes clientin {
  to {
      margin-left: 600px;
      margin-right: 600px;
  }

}

.perfil {
display: flex;
width: 80%;
max-width: 1000px;
margin: auto;
}

.persona {
  display: inline-block;
  background-color: #007e9e;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1em 0em;
  max-width: 250px;
  text-align: center;
  margin: 10px;
}

.pessoa{
  width: 80%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  box-sizing: border-box;
  display: inline-block;
  color: white;
  text-align: center;
}
